.container-box {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-bar {
    display: flex;
    width: 100%;
    .search-control {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .list-dropdown {
        display: flex;
        flex-direction: column;
        max-height: 200px;
        overflow-y: auto;
        width: 50%;
        margin-left: 15px;

        .search-result {
          padding: 5px;
          display: flex;
          background-color: #b2beb5;
          border-bottom: 1px solid black;
        }
      }
    }
  }

  .selected-cities {
    margin: 20px;
  }
}
